*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
nav{
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.header_block{
  min-width: 8%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #B9AFA2;
  font-family: 'Exo', sans-serif;
}

.header_block:hover{
  color: #32A7B9;
}


.header_block div {
  font-size: 12px;
  margin-top: 5px;
}

.header_block h4 {
  font-size: 16px;
  margin-top: 5px;
  color: #62646A;
}


/* JUMBO */
#jumbo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}

#jumbo > h4, h1, button{
  margin-bottom: 40px;
  color: white;
}

#jumbo > h4{
  font-size: 32px;
  font-family: 'Satisfy', cursive;
}

#jumbo > h1{
  font-size: 60px;
  font-family: 'Nanum Myeongjo', serif;
}

#jumbo > button,
.short_five > button{
  background-color: #BCAFA1;
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: 'Exo', sans-serif;
}

#jumbo > button:hover,
.short_five > button:hover{
  background-color: #32A7B9;
}

#box_left_jumbo{
  position: absolute;
  right: 10px;
  top: 100px;
  width: 70px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#demos, #onsale{
  width: 100%;
  height: 47%;
  border-radius: 8px;
  border: 1px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#demos i{
  font-size: 35px;
  margin-top: 5px;
}

#num{
  font-size: 35px;
  margin-top: 5px;
}

/* MAIN ONE */
#main_one{
  background-color: #F9F9F9;
  min-height: 1500px;
}

#radius_section{
  position: relative;
  background-color: white;
  min-height: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* concave */

#radius_section > h1{
  color: #70727B;
  font-size: 42px;
  margin-top: 120px;
  font-family: 'Nanum Myeongjo', serif;
}

#radius_section > h4 {
  font-family: 'Satisfy', cursive;
  font-size: 26px;
}

#radius_section > i, h4{
  color: #B9AFA2;
}

#radius_section > i{
  font-size: 30px;
}

#radius_section > h4, p{
  margin: 40px 28%;
  text-align: center;
}

#radius_section > p{
  color: #70727B;
  font-family: 'Nanum Myeongjo', serif;
}

#line{
  width: 5%;
  border: 1px solid #B9AFA2;
}

#radius_section > button{
  background-color: white;
  color: #BCAFA1;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #BCAFA1;
  outline: none;
    font-family: 'Exo', sans-serif;
}

#radius_section > button:hover,
.facebody_box > button:hover{
  border: 1px solid #32A7B9;
  color: #32A7B9;
}

#icon{
  width: 60%;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
}

.icon_square{
  width: 18%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #B9AFA2;
}

.icon_square-margin{
  margin-top: 60px;
}

.icon_square > p {
  margin: 0;
}

.icon_square > i{
  margin-bottom: 10px;
  font-size: 35px;
}

#facebody{
  width: 65%;
  min-height: 800px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.facebody_box{
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
}

#facebody_img{
  background-image: url(../img/lemon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 20px solid white;
  box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.76);
}

.facebody_box > h1{
  color: #70727B;
  font-size: 52px;
  margin: 30px 60px;
  font-family: 'Nanum Myeongjo', serif;
}

.facebody_box > p {
  text-align: left;
  margin: 0 60px;
  color: #70727B;
  font-family: 'Nanum Myeongjo', serif;
}

#oilmassage{
  background-color: white;
  min-height: 60px;
  border: 1px solid #D9D9D9;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Myeongjo', serif;
}

#littletitle_icon{
  width: 47%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #BCAFA1;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Nanum Myeongjo', serif;
}

#oilmassage > p{
  margin: 15px 20px;
  text-align: left;
}

.maniaroma{
  background-color: white;
  min-height: 20px;
  border: 1px solid #D9D9D9;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-family: 'Nanum Myeongjo', serif;
}

.maniaroma > i {
  margin-right: 10px;
}

.facebody_box > button {
  width: 45%;
  margin: 40px 60px;
  background-color: #F9F9F9;
  color: #BCAFA1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #BCAFA1;
  outline: none
}

/* SECOND MAIN */

#secondmain {
  width: 100%;
  min-height: 2400px;
  background-image: url(../img/background.jpg);
}

#sectionthree > h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  font-family: 'Nanum Myeongjo', serif;
}

#container_treatments{
  display: flex;
  justify-content: flex-start;
  min-height: 100px;
  flex-wrap: wrap;
  background-color: white;
}

.container{
  position: relative;
}

.overlay{
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background: #B9AFA2;
}

.overlay h4{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Nanum Myeongjo', serif;
  font-size: 25px;
}

.overlayLeft{
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
}

.container:hover .overlay{
  opacity: 1;
}

.container:hover .overlayLeft{
  width: 100%;
}



.treatments_box{
  width: 25%;
  height: 600px;
  border: 1px silver solid;
  display: flex;
  flex-direction: column;
}

.img > img{
  width: 100%;
  height: 400px;
  display: block;
}

.treatments_title, .treatments_poth{
  width: 85%;
  margin: auto;
  min-height: 80px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.treatments_title > h4{
  font-size: 25px;
  font-family: 'Nanum Myeongjo', serif;
}

.treatments_title{
  border-bottom: 1px solid silver;
}

#sectionfour{
  background-image: url(../img/endjumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#sectionfour > p{
  font-size: 18px;
  line-height: 2.3;
  font-family: 'Exo', sans-serif;
}

#sectionfive{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.short_five{
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#long_five{
  width: 42%;
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}

#discount{
  font-size: 60px;
}

#long_five > h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

#border{
  border: 1px solid white;
}

footer{
  width: 100%;
  height: 140px;
  background-color: white;
  border-top: 6px solid silver;
  display: flex;
  justify-content: space-around;
}

.footer_block{
  min-width: 20%;
  max-width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.footer_block > ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_block ul li{
 display: inline-block;
 font-family: 'Open Sans Bold', sans-serif;
 line-height: 1.8;
}

.footer_block li{
  padding: 0 5px;
  border-right: 1px solid grey;
}

a{
  text-decoration: none;
  color: grey;
}

.icon_footer{
  padding: 12px;
  border-radius: 5px;
  background-color: silver;
  font-size: 15px;
  margin-left: 10px;
}

#icons_block{
  justify-content: flex-end;
}
